{% extends 'base.html' %}

{% block sidebar %}
{% if teacher %}
    {% include 'inc/_teacher_sidebar.html' %}
{% elif student %}
    {% include 'inc/_student_sidebar.html' %}
{% endif %}
{% endblock %}

{% block content %}
<div class="col-md-9">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header"> Урок</div>
                <div class="card-body">
                    <h5 class="card-title"> {{ lesson.subject.name }} </h5>
                    <p class="card-text"> {{ lesson.date }} </p>
                    <p class="card-text"> {{ lesson.subject.name }} </p>
                    <p>Материалы по уроку: </p>
                    <p class="card-text"> {{ lesson.description }} </p>
                    <p class="card-text"> {{ lesson.file }} </p>
                    {% if teacher %}
                    <p class="card-text">
                        <a href="{% url 'homeworks' lesson.pk %}" class="btn btn-primary"> Домашние работы </a>
                    </p>
                    {% elif student %}
                    <p class="card-text">
                        <a href="{% url 'stud_homeworks' student.pk lesson.pk %}" class="btn btn-primary"> Домашние работы </a>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}