{% extends 'base.html' %}

{% block sidebar %}
{% include 'inc/_admin_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="col-md-9">
    <table class="table table-warning table-striped">
        <tr>
            <td></td>
            <td></td>
            <td><p class="h4">Список учителей</p></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><p class="h6">Расписание</p></td>
            <td><p class="h6">Класс</p></td>
            <td><p class="h6">Учитель</p></td>
            <td><p class="h6">Урок</p></td>
            <td></td>
            <td></td>
        </tr>
        {% for schedule in schedules %}
        {% if schedule.teacher.school.pk == admin.school.pk %}
        <tr>
            <td>
                <p> {{ schedule.name }} </p>
                <p> {{ schedule.lesson.date }} </p>
            </td>
            <td>
                <p> {{ schedule.group.name }} </p>
            </td>
            <td>
                <p> {{ schedule.teacher }} </p>
            </td>
            <td>
                <p> {{ schedule.lesson.subject.name }} </p>
            </td>
            <td>
                <p>
                    <a href="#" class="btn btn-warning"> Редактировать </a>
                </p>
            </td>
            <td>
                <p>
                    <a href="#" class="btn btn-warning"> Удалить </a>
                </p>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</div>
{% endblock %}