{% extends 'base.html' %}

{% block sidebar %}

{% if teacher %}
{% include 'inc/_teacher_sidebar.html' %}
{% elif student %}
{% include 'inc/_student_sidebar.html' %}
{% endif %}

{% endblock %}

{% block content %}
<div class="col-md-9">
    <table class="table table-info table-striped">
        <tr>
            <td></td>
            <td></td>
            <td><p class="h4">Расписание</p></td>
            <td></td>
            <td></td>
        </tr>
        {% for schedule in schedules %}
        <tr>
            <td>
                <p> {{ schedule.lesson.date }} </p>
            </td>
            <td>
                <p> {{ schedule.group.name }} </p>
            </td>
            <td>
                <p> {{ schedule.lesson.subject.name }} </p>
            </td>
            <td>
                <p> {{ schedule.teacher.surname }} {{ schedule.teacher.name }}</p>
            </td>
            <td>
                <p>
                    <a href="{% url 'lessons' schedule.lesson.pk %}" class="btn btn-info"> Посмотреть урок </a>
                </p>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}