{% extends 'base.html' %}

{% block sidebar %}
{% include 'inc/_admin_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="col-md-9">
    <table class="table table-warning table-striped">
        <tr>
            <td></td>
            <td><p class="h4">Список предметов</p></td>
            <td></td>
        </tr>
        {% for subject in subjects %}
        <tr>
            <td>
                <p> {{ subject.name }} </p>
            </td>
            <td>
                <p>
                    <a href="#" class="btn btn-warning"> Редактировать </a>
                </p>
            </td>
            <td>
                <p>
                    <a href="#" class="btn btn-warning"> Удалить </a>
                </p>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}