{% extends 'base.html' %}

<li class="nav-item">
    <a class="nav-link" href="{% url 'schools' %}">Школы</a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'teachers' %}">Учителя</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'groups' %}">Классы</a>
</li>

{% block sidebar %}
<div class="col-md-3">
    <ul class="list-group">
        {% for teacher in teachers %}
        <a href="{% url 'teachers' %}" class="list-group-item"> {{ teacher.surname }} </a>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="col-md-9">
    {% for item in teachers %}
    <div class="card text-bg-success  mb-3" style="max-width: 18rem;">
        <div class="card-header"> {{ item.surname }} {{ item.name }}</div>
        <div class="card-body">
            <h5 class="card-title"> {{ item.surname }} {{ item.name }} </h5>
            <p class="card-text"> {{ item.email }} </p>
            <p class="card-text"> {{ item.phone }} </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}