{% extends 'base.html' %}

{% block sidebar %}
{% include 'inc/_teacher_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="col-md-9">
    <div class="card text-bg-success  mb-3" style="max-width: 18rem;">
        <div class="card-header"> {{ teacher.surname }} {{ teacher.name }}</div>
        <div class="card-body">
            <h5 class="card-title"> {{ teacher.surname }} {{ teacher.name }} </h5>
            <p class="card-text"> {{ teacher.email }} </p>
            <p class="card-text"> {{ teacher.phone }} </p>
        </div>
    </div>
</div>
{% endblock %}