{% extends 'base.html' %}

{% block sidebar %}
{% include 'inc/_admin_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="col-md-9">
    <table class="table table-warning table-striped">
        <tr>
            <td></td>
            <td></td>
            <td><p class="h4">Список учителей</p></td>
            <td></td>
            <td></td>
            <td><p><a href="{% url 'post_teacher' admin.pk %}">Добавить</a></p></td>
        </tr>
        <tr>
            <td><p class="h6">Фамилия</p></td>
            <td><p class="h6">Имя</p></td>
            <td><p class="h6">Отчество</p></td>
            <td><p class="h6">Предмет</p></td>
            <td></td>
            <td></td>
        </tr>
        {% for teacher in teachers %}
        <tr>
            <td>
                <p> {{ teacher.surname }} </p>
            </td>
            <td>
                <p> {{ teacher.name }} </p>
            </td>
            <td>
                <p> {{ teacher.lastname }} </p>
            </td>
            <td>
                <p> {{ teacher.subject.name }} </p>
            </td>
            <td>
                <p>
                    <a href="{% url 'edit_teacher' pk=admin.pk pk_teacher=teacher.pk %}" class="btn btn-warning"> Редактировать </a>
                </p>
            </td>
            <td>
                <p>
                    <a href="{% url 'delete_teacher' admin.pk teacher.pk %}" class="btn btn-warning"> Удалить </a>
                </p>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}